In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("bangalore house .csv")
df.head(6)

,bath,balcony,price,total_sqft_int,bhk,price_per_sqft,area_typeSuper built-up Area,area_typeBuilt-up Area,area_typePlot Area,availability_Ready To Move,...,location_Kalena Agrahara,location_Horamavu Agara,location_Vidyaranyapura,location_BTM 2nd Stage,location_Hebbal Kempapura,location_Hosur Road,location_Horamavu Banaswadi,location_Domlur,location_Mahadevpura,location_Tumkur Road
0,3.0,2.0,150.0,1672.0,3,8971.291866,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,3.0,3.0,149.0,1750.0,3,8514.285714,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
2,3.0,2.0,150.0,1750.0,3,8571.428571,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,2.0,2.0,40.0,1250.0,2,3200.000000,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,2.0,2.0,83.0,1200.0,2,6916.666667,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
5,2.0,2.0,40.0,1170.0,2,3418.803419,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [4]:
x = df.drop('price', axis = 1)
y = df['price']

In [5]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size = 0.2, random_state = 42)

In [6]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
sc.fit(x_train)
x_train = sc.transform(x_train)
x_test = sc.transform(x_test)

In [12]:
from sklearn.svm import SVR
svr_rbf = SVR(kernel = 'rbf')
svr_rbf.fit(x_train, y_train)
svr_rbf.score(x_test, y_test)

0.37781199149073186

In [11]:
svr_linear = SVR(kernel = 'linear')
svr_linear.fit(x_train, y_train)
svr_linear.score(x_test, y_test)

0.8305910579749544

In [14]:
svr_poly = SVR(kernel = 'poly', degree = 2)
svr_poly.fit(x_train, y_train)
svr_poly.score(x_test, y_test)

0.07507719012985958

In [19]:
x_test

array([[-0.44422611,  0.54630035, -0.34334897, ..., -0.04782807,
        -0.05138463, -0.04782807],
       [-0.44422611,  0.54630035, -0.27826857, ..., -0.04782807,
        -0.05138463, -0.04782807],
       [-0.44422611, -0.74202271, -0.29716288, ..., -0.04782807,
        -0.05138463, -0.04782807],
       ...,
       [-0.44422611,  0.54630035, -0.35909422, ..., -0.04782807,
        -0.05138463, -0.04782807],
       [-0.44422611, -0.74202271, -0.69604273, ..., -0.04782807,
        -0.05138463, -0.04782807],
       [-0.44422611, -0.74202271, -0.40842936, ..., -0.04782807,
        -0.05138463, -0.04782807]])

In [22]:
y_pred = svr_linear.predict(x_test)
y_pred

array([43.19939184, 60.99132775, 67.27973659, ..., 55.79001653,
       16.06977223, 47.0151836 ])

In [23]:
y_test

960      47.0
132      60.0
2431     65.0
2229    325.0
4503     60.0
        ...
4970     48.0
553     205.0
1397     56.5
4056     26.0
1817     49.0
Name: price, Length: 1424, dtype: float64

In [27]:
from sklearn.metrics import mean_squared_error
import numpy as np

In [28]:
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)

print("MSE = ", mse)
print("RMSE = ", rmse)

MSE =  1923.325071295144
RMSE =  43.85573019908737