In [1]:
import pandas as pd
import numpy as np

In [8]:
df = pd.read_csv("bangalore house .csv")
df.head(10)

,bath,balcony,price,total_sqft_int,bhk,price_per_sqft,area_typeSuper built-up Area,area_typeBuilt-up Area,area_typePlot Area,availability_Ready To Move,...,location_Kalena Agrahara,location_Horamavu Agara,location_Vidyaranyapura,location_BTM 2nd Stage,location_Hebbal Kempapura,location_Hosur Road,location_Horamavu Banaswadi,location_Domlur,location_Mahadevpura,location_Tumkur Road
0,3.0,2.0,150.0,1672.0,3,8971.291866,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,3.0,3.0,149.0,1750.0,3,8514.285714,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
2,3.0,2.0,150.0,1750.0,3,8571.428571,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,2.0,2.0,40.0,1250.0,2,3200.000000,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,2.0,2.0,83.0,1200.0,2,6916.666667,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
5,2.0,2.0,40.0,1170.0,2,3418.803419,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
6,2.0,2.0,65.0,1425.0,3,4561.403509,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
7,2.0,2.0,43.0,947.0,2,4540.654699,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
8,2.0,2.0,36.0,1130.0,2,3185.840708,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
9,2.0,2.0,76.0,1417.0,3,5363.443896,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [10]:
x = df.drop('price', axis = 1)
y = df['price']

In [11]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 50)

In [12]:
from sklearn.tree import DecisionTreeRegressor

In [13]:
regressor = DecisionTreeRegressor(criterion = 'squared_error')
regressor.fit(x_train, y_train)
regressor.score(x_test, y_test)

0.9873584801114533

In [ ]:
y_preregressor.predict(x_test)